@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #7c7c7c;
}

body {
  margin: 0;
  font-size: 1.5em;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-description {
  color: var(--secondary-color);
}

.text-justify {
  text-align: justify;
}
